@import url('https://fonts.googleapis.com/css2?family=Manufacturing+Consent&family=UoqMunThenKhung&display=swap');

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/* imported fonts */
.uoqmunthenkhung-regular {
  font-family: "UoqMunThenKhung", serif;
  font-weight: 400;
  font-style: normal;
}
/* imported fonts */
.manufacturing-consent-regular {
  font-family: "Manufacturing Consent", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 4rem;
}

body{
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    background-color: aliceblue;
}

.page_title{
    padding: 1rem;
    margin: 1rem;
    text-align: center;
    text-shadow: 2px 3px 0.5px white;
    background-image: url(title_background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.intro{
    margin:1rem;
    padding:1rem;
    color:white;
    text-shadow: 2px 3px 0.1px black;
    font-size: 1.5rem;
    text-align: justify;
    line-height: 1.5;
}

.intro-back-img{
    margin:1rem;
    background-image: url(intro_pic.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.background_gaming, .background_music{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;      /* flex-end NOT flex-start because we used row-reverse */
    margin:1rem;
    background-image: linear-gradient(to right,white,orange);
}

.background_cooking, .background_drawing{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin:1rem;
    background-image: linear-gradient(to left, white,orange);
}

.gaming-img, .cooking-img, .music-img, .drawing-img{
    margin:1rem auto;
    border-radius:50%;
    border: 10px double black;
}

.gaming_text, .cooking_text, .music_text, .drawing_text{
    margin:2rem;
    padding:1rem;
    text-align: justify;
    color: black;
    text-shadow: 1px 2px 0.1px white;
    font-size: 1.5rem;
}

@media all and (max-width: 700px) {
    .background_gaming,
    .background_cooking,
    .background_music,
    .background_drawing {
        flex-direction: column;
        align-items: center;
    }

    .gaming-img, .cooking-img, .music-img, .drawing-img {
        margin: 1rem auto;
        max-width: 250px;
    }

    .gaming_text, .cooking_text, .music_text, .drawing_text {
        margin: 1rem;
        font-size: 1.1rem;
        text-align: center;
    }
}